.category{
    display: flex;
    flex-direction: column;
    background-color: #D0DDD0;
    /* align-items: center; */
    /* margin: auto; */
}
.category-info{
    font-family: "trirong",serif;
    margin: 50px 0 0 110px;
    color: #6d7465;
    

}
.category-info h1{
    font-size:100px;

}
.banner{
    max-width: 100%;
}
.width{
    width: 100%;
}
.category-items{

    /* max-width: 100%; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 80px;

    gap: 10px;
    max-width: 85%;
    margin:  auto;
    margin-bottom: 30px;
}



@media (max-width: 1024px) {
    .category-info {
        margin: 40px 0 0 20px;
    }
    .category-info h1 {
        font-size: 80px;
    }
    .category-items {
        max-width: 90%;
        row-gap: 50px;
    }
}

/* 🔹 Mobile Devices */
@media (max-width: 768px) {
    .category-info {
        margin: 30px ;
        /* text-align: center; */
    }
    .category-info h1 {
        font-size: 60px;
    }
    .category-items {
        /* flex-direction: column; */
        /* align-items: center; */

        max-width: 100%;
        /* row-gap: 40px; */
    }
}

/* 🔹 Small Mobile Screens */
@media (max-width: 480px) {
    .category {
        padding: 20px 10px;
    }
    .category-info h1 {
        font-size: 45px;
    }
    .category-items {
        /* row-gap: 30px; */
    }
}