.display-product-parent{
    background-color: #D0DDD0;
    font-family: "Trirong",serif;
}
.display-product{
    /* max-width: 80%; */
    height: 80vh;
    display: flex;
   
    gap: 20px;
    /* margin: 50px auto; */
    
}
.product-left{
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    gap: 20px;


}
.image-list{
    display: flex;
    flex-direction: column;
    gap: 7px;


}
.image-list img{
    height: 119px;
    border: 1px solid #727D73;
}
.main-image img{
    height: 500px;
    border: 0.5px solid #727D73;
}
.product-right{
    max-width: 50%;
    margin-top: 40px;
}
.star{
    display: flex;

    margin-top: 10px;
}
.star p{
    margin-left: 5px;
}
.price{
    display: flex;
    gap: 20px;
    margin: 15px 0px;
}
.price p{
    font-size: 18px;
}
.price .old-price{
    color: gray;
    text-decoration: line-through;
}
.price .new-price{
    font-weight: 600;
}
.description h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    display: block;
}
.size-boxes{
    display: flex;
    gap: 10px;
    margin-top: 15px;

}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid  rgb(214, 210, 210);;
    border: 1px solid #727D73;
}
.add-to-cart-btn{
    padding: 12px 35px;
    font-size: 16px;
    border-radius: 2px;
    border: 2px solid black;
    cursor: pointer;
    margin-top: 20px;
    background-color: #D0DDD0;
    transition: background-color 0.5s ease;

}
.add-to-cart-btn:hover{
    background-color: black;
    color: #D0DDD0;
}
.display-div-bottom{
    margin-left: 60px;
    
}
.form-description{
    display: flex;
}
.form-description .p-tag{
    margin-left: 90px;
    margin-top: 30px;    
}
.reviews{
    display: flex;
    margin-top: 50px;
    
}
.reviews-form{
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 40px;
}
.form-details{
    border:1px solid #727D73;
    width: 900px;
    padding: 20px;
    
}
.form-details h3{
    font-size: 25px;
    margin-top: 10px;
}
.form-details .form-stars{
    display: inline-block;
    margin-left: 10px;
}
.form-details textarea{
    width: 900px;
   
    background-color: #D0DDD0;
    font-size: 16px;
    border: 1px solid #727D73;
    resize: none;
    
}
.reviews-info{
    display: flex;
    justify-content: space-between;
}
.form-details input{
    background-color: #D0DDD0; 
    padding: 10px 140px;
    border: 1px solid #727D73;  
}
.review-checkbox{
    margin-top: 15px;
    transform: scale(1.5);
    display: inline-block;
    cursor: pointer;
    accent-color: #D0DDD0;
}
.form-details p{
    margin-left: 5px;
    
}
.form-details button{
    display: block;
    padding: 12px 45px;
    font-size: 16px;
    border-radius: 2px;
    border: 2px solid black;
    cursor: pointer;
    margin-top: 20px;
    background-color: #D0DDD0;
    transition: background-color 0.5s ease;   
}
.form-details button:hover{
    background-color: black;
    color: #D0DDD0;
}