.display-product-parent{
    background-color: #D0DDD0;
    font-family: "Trirong",serif;
    overflow-x: hidden;
}

.display-product{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.product-left{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}

.image-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.image-list img{
    height: auto;
    max-width: 70px;
    border: 1px solid #727D73;
}

.main-image img{
    height: 440px;
    max-width: 100%;
    border: 0.5px solid #727D73;
}

.product-right{
    max-width: 50%;
    text-align: left;
}

.star{
    display: flex;
}

.price{
    display: flex;
    gap: 10px;
    margin: 15px 0px;
}

.size-boxes{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.size-boxes:hover{
    cursor: pointer;
}
.size-boxes .box{
    border: 1px solid grey;
    padding: 8px;
}

.add-to-cart-btn{
    width: 50%;
    padding: 10px 20px;
    font-size: 14px;
    border: 2px solid black;
    cursor: pointer;
    background-color: #D0DDD0;
    transition: background-color 0.5s ease;
}

.add-to-cart-btn:hover{
    background-color: black;
    color: #D0DDD0;
}

.form-details{
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.form-details textarea,
.form-details input{
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #D0DDD0;
    font-size: 14px;
    border: 1px solid #727D73;
    resize: none;
    display: block;
    margin: 10px auto;
}

.form-details button{
    width: 60%;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid black;
    background-color: #D0DDD0;
    transition: background-color 0.5s ease;
    margin-top: 10px;
}

.form-details button:hover{
    background-color: black;
    color: #D0DDD0;
}

@media (max-width: 1024px) {
    .product-left{
        flex-direction: column;
        align-items: center;
    }

    .image-list{
        flex-direction: row;
        justify-content: center;
    }

    .main-image img{
        height: 450px;
    }

    .product-right{
        max-width: 80%;
        text-align: center;
    }

    .form-details{
        width: 70%;
    }

    .form-details textarea,
    .form-details input{
        width: 90%;
    }
}

@media (max-width: 768px) {
    .product-left{
        flex-direction: column;
        align-items: center;
    }

    .image-list{
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-list img{
        max-width: 50px;
    }

    .main-image img{
        height: 330px;
    }

    .star,
    .price{
        justify-content: center;
    }

    .size-boxes{
        justify-content: center;
        /* border: 1px solid grey; */
    }

    .add-to-cart-btn{
        width: 70%;
    }

    .form-details textarea{
        height: 80px;
    }
}

@media (max-width: 480px) {
    .image-list img{
        max-width: 40px;
    }

    .main-image img{
        height: 270px;
    }

    .product-right h1{
        font-size: 20px;
    }

    .description h3{
        font-size: 16px;
    }

    .add-to-cart-btn{
        width: 100%;
        font-size: 12px;
    }

    .form-details textarea{
        height: 70px;
    }

    .form-details button{
        width: 90%;
        font-size: 12px;
    }
}
