.allproducts-list{
    padding: 40px;
}
.allproducts-list h1{
    text-align: center;
}
.products-heading{
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 20px;
}
.rmv-icon{
    cursor: pointer;
}
.products{
    display: grid;
    grid-template-columns: 2fr 2fr 4fr 1fr 1fr 1fr 1fr;
    gap: 25px;
    border: 1px solid black;
    border-top: none;
    align-items: center;
}
.products .product-image{
    width: 60px;
}
@media (max-width:900px){
    .allproducts-list{
        padding: 10px;
    }
}
@media (max-width:800px){
    .products-heading{
        grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr;
        gap: 15px;
    }
    .products{
        grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr;
        gap: 15px;
    }
    .products .product-image{
        width: 40px;
    }
}
@media (max-width:480px){
    .products-heading{
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    .products{
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    }
}